.bg-input {
  background-color: #3f3b3e !important;
  border-color: transparent;
}

.bg-input:focus {
  border-color: transparent;
  background-color: #3f3b3e;
  box-shadow: none !important;
}

.dropdown-option:hover {
  background-color: #3a3d3f;
}

.skill-container {
  background-color: #3f3b3e;
  height: 10vh;
  border-radius: 0.5rem;
}

.skill-card {
  border: 1px solid #ffc107;
  border-radius: 10px;
  text-align: center;
  padding: 0.4rem 0.2rem;
  min-width: 80px;
}

.view-details {
  background-color: #ffc107 !important;
  border-color: transparent !important;
  width: 8rem;
}
