:root {
    --Primary: #bf9b30;
    --secondaryColor: #e7e7e8;

}

.home-line {
    background-color: #bf9b30;
    height: 1px;
    margin: -12px 0 8px;
    width: 60px;
}

.btn-contact {
    border: 2px solid var(--Primary);
    &:hover{
        background-color: var(--Primary);
    }
}

.btn-gold {
    background-color: var(--Primary) !important;
    border: none;
}

.full-width {
    width: 100%;
}

.search-job {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    background-color:#414141;
    color: var(--secondaryColor) !important;
    text-align: center;
    width: 100%;
    &:focus {
    background-color: #414141;
    }
    &::placeholder { 
        color: var(--secondaryColor);
    }
}

.search-icon {
    position: absolute;
    top: 11px;
    right: 12px;
    color: var(--Primary);
    z-index: 100;
}

.sidebar {
    background-color:#1a1818;
    color: var(--secondaryColor) !important;
}
