* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none !important;
}
/* start nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  max-height: 50px;
  background: rgba(0 0 0 / 60%);
}

nav img {
  width: 70px;
  height: 70px;

  object-fit: cover;
}
.login {
  background-color: black;
  color: white;
  padding: 10px 10% 10px 0;
  text-align: end;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  padding: 0 15px;
}
.link {
  text-decoration: none;
  color: white;
  position: relative;
}
.contact {
  border: 3.5px solid rgb(191 155 48);
  border-radius: 5px;
  padding: 5px;
  margin-left: 30px;
  transition: 0.5s;
  text-align: center;
}
.contact::after {
  display: none;
}
.contact:hover {
  background: rgb(191 155 48);
}
.link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 2px;
  background: rgb(191 155 48);
  height: 1px;
  width: 0%;
  transition: 0.5s;
}
.active {
  color: rgb(191 155 48);
}
.active::after {
  width: 100%;
}
/* menu icon */
.menu {
  display: none;
}
.menu div {
  width: 28px;
  height: 4px;
  background: white;

  border-radius: 1px;
}
/* start nav media */
@media (max-width: 1200px) {
  nav ul li {
    padding: 0 10px;
  }
}
@media (max-width: 1050px) {
  .menu {
    width: fit-content;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 2px solid rgb(191 155 48);
    cursor: pointer;
  }

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
  }
  nav ul li {
    display: block;
  }
  nav ul {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -300px;
    padding: 15px;
    border-radius: 2px;
    width: 80%;
    opacity: 0;

    transition: 0.5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li .link {
    font-size: 15px;
  }
  nav ul li .link::after {
    bottom: -5px;
  }
  .active::after {
    width: 80vw;
  }
  .contact {
  }
}
.show {
  opacity: 1;
  height: auto;
  bottom: -350px;
}
/* end nav */
/* start footer */
footer {
}
footer img {
  width: 200px;
}
footer .father {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
footer .father .first-child {
  color: white;
  line-height: 1.8;
  padding-bottom: 20px;
}
footer .father .second-child {
  color: white;
  line-height: 1.8;
}
footer .last {
  color: white;
  padding: 20px 5px;
}
